
body {
  margin: 0;
  font-family: 'Inter', sans-serif;

}

.container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

main {
  flex: 1;
  max-width: 400px;
  width: 100%;
  line-height: 1.6; /* Proper line height for readability */
  text-align: justify;
  hyphens: auto;

}

.sidebar {
  width: 150px;
}